/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 14, 2016, 9:48:06 AM
    Author     : SarahAllen
*/

body {
  background-image: url(../images/bats.gif);
  background-repeat: repeat;
  font-family: 'Ariel', Helvetica, sans-serif
}

#wrapper {
  border: solid black 5px;
  box-shadow: 5px 5px 10px 10px #000000;
  margin: 0 auto;
  margin-bottom: 75px;
  width: 800px;
}

#pumpkin {
  float: left;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 15px;
}

header {
  background: linear-gradient(45deg, white, orange, orange 75%, black);
  border-bottom: solid black 2px;
  padding-top: 4px;
}

#mainTitle {
  padding-left: 10px;
}

main{
  background-color: white;
  display: block;
  float: right;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 15px;
  width: 618px;
}

aside {
  background-color: white;
  float: left;
  padding-bottom: 37.33%;
  position: absolute;
  width: 160px;
  margin-top: 0px;
}
h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em
}

#firstMain::first-letter {
  font-size: 200%;
}

#goblin {
  line-height: 15px;
  margin-left: 120px;
}

a:link {
  color: orange;
  font-weight: bold;
}

a:hover{
  color: green;
}

footer{
  background: linear-gradient(45deg, black, orange, orange 75%, white);
  border-top: solid black 2px;
  clear: both;
  font-size: 12px;
  padding-bottom: 4px;
  text-align: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside li a {
  display: block;
  background: orange;
  border: 2px solid black;
  font-size: 1em;
  line-height: 2em;
  padding: .2em 0 .2em 1em;
  margin-bottom: .2em;
  text-decoration: none;
  width: 8em;
}

aside li a:link{
  color: black;
}
aside nav {
  margin-left: .5em;
  margin-top: .75em;
}
 
#horizontal{
  background-color: white;
}
#horizontal nav ul, 
#horizontal nav li {
  float: left;
}

#horizontal nav li a {
  background: black;
  display: block;
  line-height: 2em;
  padding: 0 2.41em;
}

#horizontal li a:link{
  color: white;
  text-decoration: none;
}

#horizontal li a:hover{
  color: grey;
}

#horizontal li a.current {
  color: orange;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}
